body { background: #303140;}
#wrapper { background: #4E5461; width: 906px; margin: 0 auto; text-align: justify; font-family: helvetica; min-height: 500px; padding: 10px;}

#main { float: right; width: 100%; border-bottom: white solid 3px;}
#main:after { content: ".";visibility: hidden;display: block;height: 0;clear: both;}
#main ul {float: right; }
#main ul li { float: left; border-left: solid 1px white; border-right: right solid 1px; margin-left: 45px;  padding-left: 5px; padding-right: 10px; height: 55px;}
#main a { margin-top: 45px;}
#line { width: 100%; height: 3px; background: white; }
.left { float: left; width: 200px; padding: 10px;}
.middle { float: left; width: 250px; padding: 10px;}
.right { float: right; width: 200px; padding: 10px;}
#center:after { content: ".";visibility: hidden;display: block;height: 0;clear: both;}
#center { width: 100%;  background: #CCAA70; right: 225px;}
#top { text-align: center;}