$mainColor: #ccc;
$marginH:  0 0 20px; 
$padding: 20px;

body {
	font-family: Arial, sans-serif;
}
h1 {
	color: $mainColor;
	margin: $marginH;
}
li {
	margin-bottom: 10px;
}
#column-a {
	border: 4px solid $mainColor;
	float: left;
	margin: 0 10px 10px 0;
	padding: $padding;
	width: 250px;
}
#column-a h2 {
	color: $mainColor;
	margin: $marginH;
}
#column-b {
	border: 4px solid $mainColor;
	float: left;
	padding: $padding;
	width: 250px;
}
#column-b h2 {
	color: $mainColor;
	margin: $marginH;
}