@mixin main {
	
	width: 960px;
	margin: 0 auto;
	line-height: normal;
	p{

	font-family: Helvetica
	}
}
@mixin header ($image){
	
	width: auto;
	height: 440px;
	background: $image

}


@mixin blog{
		
		width: 400px;
		height: 220px;

		}	

