table#customers {
  width: 400px;
  height: 114px;
  font-family: helvetica; }
  table#customers thead th {
    background: green;
    color: white; }
  table#customers th {
    background: #ccc;
    color: white; }
  table#customers td {
    color: black; }
