table#customers{
	width: 400px;
	height: 114px;
        font-family: helvetica;


thead th{
	background: green;
	color: white;
	}
	th{
		background: #ccc;
		color: white;
		}
		
td
{ color: black;}

	}