body {
  font-family: Arial, sans-serif; }

img {
  margin-bottom: 20px; }

#box-a {
  background: #4bca7b;
  color: #fff;
  float: left;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 300px;
  border: 4px solid black;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 15px; }

#box-b {
  background: #b253ca;
  color: #fff;
  float: left;
  padding: 20px;
  width: 300px;
  border: 4px solid black;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 15px; }

#box-c {
  background: #eee;
  clear: left;
  margin-bottom: 20px;
  padding: 20px;
  width: 660px;
  border: 4px solid black;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 15px; }

#box-d {
  background: #f4a306;
  color: #fff;
  float: left;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 300px;
  border: 4px solid black;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 15px; }

#box-e {
  background: #a3f4f3;
  color: #77b2b1;
  float: left;
  padding: 20px;
  width: 300px;
  border: 4px solid black;
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 15px; }
